/*-
 * Copyright (c) 2016 Rubicon Communications (Netgate)
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE AUTHOR AND CONTRIBUTORS ``AS IS'' AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED.  IN NO EVENT SHALL THE AUTHOR OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 * OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 * HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
 * OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 * 
 * $FreeBSD$
 */

/dts-v1/;

#include "am33xx.dtsi"
#include "ubmc.dtsi"

/ {
	model = "AM335x uBMC";
	compatible = "ti,am335x-ubmc", "ti,am33xx";
};

&mmc1 {
	status = "okay";
};

&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	bus-width = <8>;
	ti,dual-volt;
	non-removable;
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;

	status = "okay";

	lm750 {
		compatible = "national,lm75";
		i2c-address = <0x48>;
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;

	status = "okay";

	eeprom1 {
		compatible = "atmel,24c256";
		i2c-address = <0x50>;
	};
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins>;
	status = "okay";

	flash1: m25p64@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "st,m25p64", "st,m25p";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins>;
	status = "okay";

	flash2: m25p64@2 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "st,m25p64", "st,m25p";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
};

&tscadc {
	status = "okay";

	adc {
		#io-channel-cells = <0x1>;
		compatible = "ti,am3359-adc";
		ti,adc-channels = <0x00 0x01 0x02 0x03 0x4 0x5 0x6 0x7>;
	};
};

&epwmss0 {
	status = "okay";
};

&ecap0 {
	pinctrl-names = "default";
	pinctrl-0 = <&ecap0_pins>;
	status = "okay";
};

&ehrpwm0 {
	status = "okay";
};

&epwmss1 {
	status = "okay";
};

&ecap1 {
	pinctrl-names = "default";
	pinctrl-0 = <&ecap1_pins>;
	status = "okay";
};

&ehrpwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&ehrpwm1_pins>;
	status = "okay";
};

&epwmss2 {
	status = "okay";
};

&ecap2 {
	pinctrl-names = "default";
	pinctrl-0 = <&ecap2_pins>;
	status = "okay";
};

&ehrpwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&ehrpwm2_pins>;
	status = "okay";
};
